
<!-- INCLUDE overall_header.html -->

<div>{MY_AVATAR}</div>

<div>
Hi {UNAME} , <br>
Ready to invite your friends? 

</div>

<div>
<form action="./phpBB3/codegen.php" method="post">

  Email to send code to:<br>
  <input type="text" name="target"><br>
  <input type="hidden" name="uid" value="{UID}">
  <input type="submit" value="Submit"  id="subform">

</form>

</div>



<!-- INCLUDE overall_footer.html -->